.category-detail{
    font-size: 0.8em;
    font-style: italic;
}
.footer{  
    background-color: rgb(156, 152, 170);
    margin: 5px;  
    position: fixed;
    bottom: 0;
    width: 80%;    
}

.test{
    position: fixed;
    padding: 2em;
    left: 50%;    
    transform: translateX(-50%);
}