.category-detail{
    font-size: 0.8em;
    font-style: italic;
}

.rightSide{
    position: fixed;
    padding: 3em;
    left: 60%;    
    transform: translateX(-40%);
}

.leftSide {
    display: flex;
}