<mat-form-field>
    <input matInput type="text" [(ngModel)]="filter" placeholder="Filtra albero" (ngModelChange)="filterNodes($event)">
</mat-form-field>
<div class="leftSide">        
    <span style="margin: 1em;">
        <tree-root #tree [(nodes)]="nodes" (activate)="setSelectedNode($event)" [options]="options" style="overflow:hidden;">
            <ng-template #treeNodeTemplate let-node let-index="index">
                <span *ngIf="node.data.children && node.data.type != 'title'">   
                    <span>{{ node.data.name  | valueByKey: categories[node.data.type] }}</span>
                    <span class="category-detail">Codice: {{ node.data.name }}, numero di articoli: {{ node.data.numberOfArticles }}</span>
                </span>          
                <span *ngIf="!node.data.children && node.data.type != 'title'">    
                    <span>{{ node.data.article.ARDESART }}</span><span class="category-detail">Codice: {{ node.data.article.ARCODART }}</span>              
                </span>
                <span class="title" *ngIf="node.data.type == 'title'">
                    {{ node.data.name  }}
                </span>
            </ng-template>
        </tree-root>         
    </span>
    <span *ngIf="!readOnly" class="rightSide">
        <article [node]="selectedNode" [categories]="categories" (updateArticle)="updateArticleCategory($event)"></article>  
        <category [node]="selectedNode" [categories]="categories" (updateItemsCategory)="updateItemsCategory($event)"></category>       
    </span>
</div>
<div *ngIf="!readOnly && modified">
    I dati sono stati modificati. <button mat-raised-button type="button" (click)="saveArticles()">Salva</button>
</div>
