<p>   
  <span *ngIf="node &&  node.data.article && node.isActive">
      Categoria omogenea:  
      <select [(ngModel)]="node.data.article.ARCATOMO">
          <option *ngFor="let item of categories.ARCATOMO" [value]="item.key">{{item.value}}</option>
      </select>
      Famiglia:
      <select [(ngModel)]="node.data.article.ARCODFAM">
          <option *ngFor="let item of categories.ARCODFAM" [value]="item.key">{{item.value}}</option>
      </select>
      Gruppo merceologico: 
      <select [(ngModel)]="node.data.article.ARGRUMER">
          <option *ngFor="let item of categories.ARGRUMER" [value]="item.key">{{item.value}}</option>
      </select>  
      <button (click)="confirmChanges($event)">Conferma</button>
  </span>
</p>
