$base-blue-color: #4571a7;

table {
    width: 75%;
}
th, td {
    padding: 15px;
    text-align: left;
    height: 3em;
    border-bottom: 1px solid #ddd;
}
tr.highlighted {
    background-color: rgba($color: $base-blue-color, $alpha: 0.1);
}

th{
    background-color: rgba($color: $base-blue-color, $alpha: 0.5);
}