<mat-form-field *ngIf="categories">
  <mat-select [(ngModel)]="selectedCategory" placeholder="Scegli categoria">
    <mat-option *ngFor="let categoryType of obj.keys(categories)" [value]="categoryType">{{ categoryType | valueByKey:columnsTranslations }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
    <input matInput #filter placeholder="Filtra categoria per valore">    
</mat-form-field>  
<mat-radio-group [(ngModel)]="isActive" >
  <mat-radio-button [value]="true" color="warn">
    Attivo
  </mat-radio-button>
  <mat-radio-button [value]="false" color="warn">
    Non attivo
  </mat-radio-button>
  <mat-radio-button [value]="undefined" color="warn">
    Tutti
  </mat-radio-button>
</mat-radio-group>
<button color="warn" mat-raised-button (click)="openDialog()">Nuova categoria</button>
<table class="fixed_headers">    
    <thead class="fixedHeader">
      <tr>
        <th width="20%">Chiave</th>
        <th width="50%">Valore</th>
        <th width="30%">Attivo</th>
      </tr>
    </thead>    
    <tbody class="scrollContent">
        <tr *ngFor="let category of categories[selectedCategory] | filterOptionsByValue:filter.value | filterOptionsByState:isActive"
          [class.highlighted]="(selectedRow) && category.key == selectedRow.key">
          <td width="20%" (click)="onItemClick(category, $event)">{{ category.key }}</td>
          <td width="50%" *ngIf="(selectedRow) && category.key == selectedRow.key">
              <mat-form-field style="width:60%">
                  <input matInput [(ngModel)]="category.value" #filter placeholder="Modifica" />            
              </mat-form-field>
              <button (click)="onItemClick(category, $event)" mat-icon-button>
                  <mat-icon><i class="material-icons" id="done">done</i></mat-icon>
              </button>
              <button (click)="restoreAndClick(category, $event)" mat-icon-button>
                  <mat-icon><i class="material-icons" id="clear">clear</i></mat-icon>
              </button>
          </td>          
          <td width="50%" (click)="onItemClick(category, $event)" *ngIf="(!selectedRow) || (selectedRow && category.key != selectedRow.key)">
            {{ category.value }}
          </td>
          <td width="30%">
            <mat-slide-toggle [(ngModel)]="category.active" (change)="onSlideChange(category)"></mat-slide-toggle>        
          </td> 

        </tr>
    </tbody>
  </table>
  <div *ngIf="modified" style="margin:1em;">
      I dati sono stati modificati. <button (click)="save()" mat-raised-button color="warn">Salva</button>
  </div>
  