<div>
    <mat-form-field>
        <input matInput type="text" [(ngModel)]="filter" placeholder="Filtra {{ label }}">
    </mat-form-field>
    <mat-form-field>
        <mat-select [(ngModel)]="reference" (ngModelChange)="onSelectChange($event)" placeholder="{{ label }}" [style.width]="'100%'">
            <mat-option *ngFor="let item of values | filterOptionsByValue:filter | filterOptionsByState:true" [value]="item.key">({{item.key}}) - {{item.value}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
