<div>
    <h1>Aggiornamento categorie</h1>
    
    <div class="loading-indicator" *ngIf="loading">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
    <mat-tab-group (selectedIndexChange)="pageChanged()" *ngIf="!loading">
        <mat-tab label="Nuove categorie">            
            <button mat-raised-button type="button" (click)="saveArticles()">Salva</button>
            <div class="demo-tab-content">
                <categories-tree [parentSubject]="parentSubject" [data]="newItemsDictionary" [(categories)]="categories" (updateItemsCategoryInParent)="onSelectedCategoryChange($event)"></categories-tree>
            </div>
        </mat-tab>
        <mat-tab label="Categorie AD HOC">
            <h3>Categorie in sola visualizzazione</h3>
            <div class="demo-tab-content">
                <categories-tree [data]="originalItemsDictionary" [categories]="categories" (updateItemsCategoryInParent)="onSelectedCategoryChange($event)" [readOnly]="true"></categories-tree>
            </div>  
        </mat-tab>        
        <mat-tab label="Categorie disponibili">
            <div class="demo-tab-content">                
                <modify-categories [(categories)]="categories" (saveCategories)="saveCategories($event)"></modify-categories>
            </div>
        </mat-tab>
        <mat-tab label="Export">
            <div class="demo-tab-content">
                Export dell'albero delle categorie.
                Da decidere il formato e/o come utilizzare l'albero.
            </div>
        </mat-tab>
    </mat-tab-group>      
</div>