<div style="margin: 1em;">
    <h1>Aggiornamento categorie</h1>
    <mat-tab-group>
        <mat-tab label="Modifica categorie">
            <div class="demo-tab-content">                
                <modify-categories [categories]="categories" (saveCategories)="saveCategories($event)"></modify-categories>
            </div>
        </mat-tab>
        
        <mat-tab label="Nuove categorie">            
            <button type="button" (click)="saveArticles()">Save</button>
            <div class="demo-tab-content">
                <categories-tree [data]="newItemsDictionary" [categories]="categories" (updateItemsCategoryInParent)="onSelectedCategoryChange($event)"></categories-tree>
            </div>
        </mat-tab>
        <mat-tab label="Categorie AD HOC">
            <h3>Categorie in sola visualizzazione</h3>
            <div class="demo-tab-content">
                <categories-tree [data]="originalItemsDictionary" [categories]="categories" (updateItemsCategoryInParent)="onSelectedCategoryChange($event)" [readOnly]="true"></categories-tree>
            </div>  
        </mat-tab>
        
        <mat-tab label="Export">
            <div class="demo-tab-content">
                Export dell'albero delle categorie.
                Da decidere il formato e/o come utilizzare l'albero.
            </div>
        </mat-tab>
    </mat-tab-group>      
</div>