<div style="margin: 1em;">
  <h1>
    Welcome to {{title}}!
  </h1>
  <tree-root [(nodes)]="nodes" (activate)="setSelectedNode($event)">
      <ng-template #treeNodeTemplate let-node let-index="index">
          <span *ngIf="node.data.children">   
              <span>{{ node.data.name  | valueByKey: categories[node.data.type] }}</span>
          </span>          
          <span *ngIf="!node.data.children">    
              <span>{{ node.data.article.ARDESART }} (codice {{ node.data.article.ARCODART }})</span>              
          </span>
      </ng-template>
  </tree-root>     
  <article [node]="selectedNode" [categories]="categories" (updateArticle)= "onSelectedArticleChange($event)"></article>  
</div>
