@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


$themeColor: #618abd;
$acceptColor: #66bb66;
$rejectColor: #d8515c;

body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 1em;
}

.tree-node-active {
    font-weight: bold;
}

.tree-node-active .title{
    font-weight: normal;    
}

.title {
    font-style: italic;
}

.box {
    display:inline-block;
    padding: 1em;    
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
.demo-tab-content {
    padding: 16px;
}

.mat-button, .mat-raised-button{
    background-color: $themeColor;    
}


.material-icons{
    font-weight: bold;
}

.material-icons #done {
    color: $acceptColor;    
}

.material-icons #clear {
    color: $rejectColor;    
}

.mat-button-wrapper {
    font-weight: bold
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
{
    background-color: $acceptColor;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
{
    background-color: $acceptColor;
}
  
.mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar
{
    background-color: $rejectColor;
}
.mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb
{
    background-color: $rejectColor;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 207, 207, 0.3);
  }