@import '~angular-tree-component/dist/angular-tree-component.css';

@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-orange, 800);
$accent:  mat-palette($mat-light-blue, 600, 100, 800);
$warn:    mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
$acceptColor: #66bb66;
$acceptColorDark: #1d6d1d;


html, body {
    font-size: 15px;
    line-height: 1.5;
}

body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: 1em;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 { color: #e53935; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }


h2 { font-size: 16px; font-weight: 40; line-height: 32px; margin: 0 0 24px; font-style: italic }

.tree-node-active {
    font-weight: bold;
}

.tree-node-active .title{
    font-weight: normal;    
}

.title {
    font-style: italic;
}

.box {
    display:inline-block;
    padding: 1em;    
}

.demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
.demo-tab-content {
    padding: 16px;
}

.material-icons{
    font-weight: bold;
}

.mat-button-wrapper {
    font-weight: bold
}

.material-icons #done {
    color: $acceptColorDark;    
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
{
    background-color: $acceptColorDark;
    
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb
{
    background-color: $acceptColor;
}

.mat-form-field{
    min-width: 300px;
}

/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(221, 207, 207, 0.3);
  }

  p.error{
      font-size: 0.8em;
      font-style: italic;
      color: #e53935;
  }